/*#grid-container {
display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: repeat(16,1fr);
width: 800px;
height: 800px;
border: 2px solid black;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/*.grid-item {

    border: 1px solid #050505;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}*/


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    width: 500px; 
    height: 500px; 
    border: 1px solid black;
}

.square {
    width: 6.25%; /* 100% / 16 = 6.25% */
    height: 6.25%; /* To ensure they are squares within the container */
    border: 1px solid #ccc;
    /* aspect-ratio: 1 / 1; */
}






